/* #region Root Variables */

:root {
    --primary-color-blue: #5AD6DE;
    --secondary-color-blue: #27bbc4;
    --third-color-blue: #27bbc4;
    --background-color-black: #252729;

}

/* #endregion */