.eye {
    margin-top: 0.7vh;
}

input {
    background-color: #FFFFFF40;
    color: white;
}

input::placeholder {
    color: #9ae6eb !important;
}

@media only screen and (max-width: 394px) {
    .eye {
        left: 63%;
    }
}

@media only screen and (min-width: 395px) and (max-width: 530px) {
    .eye {
        left: 67%;
    }
}

@media only screen and (min-width: 531px) and (max-width: 991px) {
    .eye {
        left: 68%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1999px){
    .eye {
        left: 70%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .eye {
        left: 71%;
    }
}

@media only screen and (min-width: 1400px){
    .eye {
        left: 70%;
    }
}

body {
    min-height: 96svh;
}
